@import 'styles/colors';

.dashboard {
  padding-top: 20px;

  &__tile {
    background-color: $color-white-dimmed;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba($color-black, .75);
    margin-bottom: 16px;
    padding: 14px 12px;

    &--unpadded {
      padding: 0;
    }
  }
}
