.dashboard {
  padding-top: 20px;

  &__tile {
    background-color: map-get($colors, 'white-dimmed');
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(map-get($colors, 'black'), .75);
    margin-bottom: 16px;
    padding: 14px 12px;

    &--unpadded {
      padding: 0;
    }
  }
}
