@import 'styles/colors';

.clock {
  align-items: center;
  display: flex;

  &__date {
    font-size: 14px;
  }

  &__icon {
    color: $color-blue;
    font-size: 46px;
  }

  &__info {
    margin-left: 12px;
  }

  &__time {
    font-size: 18px;
  }
}
