@import 'styles/colors';

.notes {
  &__clear {
    background-color: transparent;
    border: 1px solid $color-blue;
    border-radius: 5px;
    color: $color-blue;
    letter-spacing: 1px;
    margin-left: auto;
    outline: none;
    text-transform: uppercase;
    transition: background-color .5s, color .5s;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &__field {
    border: 1px solid $color-grey;
    border-radius: 3px;
    height: 210px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    resize: none;
    width: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
  }

  &__heading {
    font-size: 21px;
    margin: 0;
  }

  &__icon {
    color: $color-blue;
    font-size: 42px;
    margin-right: 12px;
  }

  &__info {
    align-items: center;
    display: flex;
  }
}
