.error-message {
  align-items: center;
  display: flex;
  justify-content: center;

  &__icon {
    color: map-get($colors, 'red');
    font-size: 32px;
  }

  &__text {
    font-size: 16px;
    font-weight: 700;
    margin-left: 6px;
  }
}
